.main-img {
    background-image: url('https://ak2.picdn.net/shutterstock/videos/9057502/thumb/12.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
#logo {
    mix-blend-mode: multiply;
    width: 60px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 4px;
}
.column {
    flex: 50%;
    padding: 0 4px;
}

.col {
    padding: 8px 4px;
}

.clanok {
    margin: auto;
}

.searchTlacidlo {
    color: red;
}

.novinkySlide {
    margin: auto;
    width: 90%;
}
#pridajClanok{
    margin:auto;
}

#pridajObrazok{
    margin:auto;
}

.pataClanku {
    margin-top: 10px;
    margin-bottom: -20px;
    font-size: 11px;
    color: dimgrey;
}

#titulnaFoto {
    max-width: 70%;
}
#galeriaObrazok {
    max-width: 90%;
    margin: auto;
}

.navbarPrvky {
    font-size: 16px;
    font-weight: bold;
}
.kartaNadpis {
    font-size: 20px;
    font-weight: bold;
}
